<nav class="border-gray-200 bg-gray-900 h-auto">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
    <div class="flex items-center">
      <a routerLink="/" routerLinkActive="active">
        <img id="logo" src="../../assets/pictures/Logo.jpg" class="h-20 rounded-full w-auto" alt="Logo" /></a>
      <a class="ml-3" routerLink="/" routerLinkActive="active"><span
          class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">WhatToWatch</span></a>
    </div>

    <div class="flex md:order-2">
      <div class="flex gap-2 maxMd items-center justify-between w-full md:flex md:w-auto md:order-1">
        <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
          <div class="relative inline-block w-12 mr-2 align-middle select-none transition duration-200 ease-in">
            <select [(ngModel)]="selectedValue"
              class="bg-slate-700 block cursor-pointer appearance-none w-full border border-solid border-gray-600 text-gray-900 py-1 pl-2 pr-6 rounded leading-tight focus:outline-none focus:border-blue-500"
              style="line-height: 1.5; padding: 0.5em" (change)="onValueChange()">
              <option value="film">🎬 Film</option>
              <option value="tv">📺 Série TV</option>
              <option value="people">🎭 Personne</option>
              <option value="company">🏢 Compagnie</option>
            </select>
            <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-1 text-white">
              <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" />
              </svg>
            </div>
          </div>

          <div class="relative">
            <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
              <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
              </svg>
            </div>

            <input type="text" id="search-navbar"
              class="pl-10 w-full p-2 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="Recherche..." [(ngModel)]="searchValue" (input)="onSearchInput()" (keyup.enter)="onEnter()">

            <div class="absolute w-full bg-gray-700 mt-2 rounded-lg border border-gray-300 z-50 custom-scrollbar"
              *ngIf="searchResults.length > 0"
              style="width: 400px; right: 50%; transform: translateX(50%); height: 200px; overflow-y: auto;">
              <ng-container *ngFor="let result of searchResults">
                <div [routerLink]="['/Details/Movie', result.id]"
                  class="flex items-center p-4 hover:bg-gray-400 cursor-pointer rounded text-white"
                  (click)="searchValue = result.title; resetResults()"
                  *ngIf="result.poster_path !== null && selectedValue === 'film'">
                  <img src="https://image.tmdb.org/t/p/w92{{result.poster_path}}" alt="" srcset="" class="mr-4 rounded">
                  <h2 class="font-semibold">{{ result.title }}</h2>

                </div>
                <div [routerLink]="['/Details/Series', result.id]"
                  class="flex items-center p-4 hover:bg-gray-400 cursor-pointer rounded text-white"
                  (click)="searchValue = result.name; resetResults()"
                  *ngIf="result.poster_path !== null && selectedValue === 'tv'">
                  <img src="https://image.tmdb.org/t/p/w92{{result.poster_path}}" alt="" srcset="" class="mr-4 rounded">
                  <h2 class="font-semibold">{{ result.name }}</h2>
                </div>
                <div [routerLink]="['/Details/Actor', result.id]"
                  class="flex items-center p-4 hover:bg-gray-400 cursor-pointer rounded text-white"
                  (click)="searchValue = result.title; resetResults()"
                  *ngIf="result.profile_path !== null && selectedValue ==='people'">
                  <img src="https://image.tmdb.org/t/p/w92{{result.profile_path}}" alt="" srcset=""
                    class="mr-4 rounded">
                  <h2 class="font-semibold">{{ result.name }}</h2>
                </div>
              </ng-container>
            </div>
          </div>
        </div>

        <button *ngIf="firebaseService.userIsConnected()" (click)="firebaseService.logOut()"
          class="bg-red-600 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
            class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="M8.25 9V5.25A2.25 2.25 0 0 1 10.5 3h6a2.25 2.25 0 0 1 2.25 2.25v13.5A2.25 2.25 0 0 1 16.5 21h-6a2.25 2.25 0 0 1-2.25-2.25V15m-3 0-3-3m0 0 3-3m-3 3H15" />
          </svg>
        </button>
      </div>
      <button (click)="toggleMenu()" data-collapse-toggle="navbar-search" type="button"
        class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg lg:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
        aria-controls="navbar-search" aria-expanded="false">
        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M1 1h15M1 7h15M1 13h15" />
        </svg>
      </button>
    </div>
    <div [@openClose]="isOpen ? 'open' : 'closed'" #menu id="menu"
      class="list items-center justify-between w-full md:flex md:w-auto md:order-1">
      <div class="relative mt-3 lg:hidden">
        <div class="w-full flex">
          <select
            class="w-2/6 mr-2 bg-slate-700 block cursor-pointer appearance-none border border-solid border-gray-600 text-gray-900 py-1 pl-2 pr-6 rounded leading-tight focus:outline-none focus:border-blue-500"
            style="line-height: 1.5; padding: 0.5em" [(ngModel)]="selectedValue" (change)="onValueChange()">
            <option value="film">🎬 Film</option>
            <option value="tv">📺 Série TV</option>
            <option value="actor">🎭 Acteur</option>
            <option value="company">🏢 Compagnie</option>
          </select>

          <input type="text" id="search-navbar"
            class="w-4/6 block p-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="🔎 Recherche... " [(ngModel)]="searchValue" (input)="onSearchInput()" name="search" />
          <div class="absolute left-5 inset-y-0 start-0 flex items-center ps-3 pointer-events-none"></div>
        </div>
      </div>
      <ul
        class="flex flex-col items-center p-4 md:p-0 mt-4 font-medium border border-gray-100 rounded-lg bg-gray-50 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
        <li>
          <a routerLink="/" routerLinkActive="active"
            class="text-xl block py-2 px-3 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 md:dark:text-blue-500"
            aria-current="page">Accueil</a>
        </li>
        <li>
          <a
            class="text-xl block py-2 px-3 text-white rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 md:dark:hover:text-blue-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700" [routerLink]="['/Films']">Films</a>
        </li>
        <li>
          <a
            class="text-xl block py-2 px-3 ttext-white rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700" [routerLink]="['/Series']">Series</a>
        </li>
        <li>
          <a
            class="text-xl block py-2 px-3 text-white rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 md:dark:hover:text-blue-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700" [routerLink]="['/Personne']">Personne</a>
        </li>
        <!--   <li>
          <a
            class="text-xl block py-2 px-3 text-white rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 md:dark:hover:text-blue-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Company</a>
        </li> -->
        <li *ngIf="!firebaseService.userIsConnected()">
          <a href="#" routerLink="/Login" routerLinkActive="active"
            class="text-xl block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Connexion</a>
        </li>
        <li>
          <button *ngIf="firebaseService.userIsConnected()"
            class="text-xl block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">
            <a href="#" routerLink="/Profile" routerLinkActive="active">
              <img class="w-10 h-10 p-1 rounded-full ring-2 ring-gray-300 dark:ring-gray-500"
                src="../../assets/usersPictures/{{email}}.png" alt="Bordered avatar" />
            </a>
          </button>
        </li>

        <li>
          <button *ngIf="firebaseService.userIsConnected()" (click)="firebaseService.logOut()"
            class="md:hidden text-xl bg-red-600 hover:bg-red-700 text-white py-2 px-3 rounded">
            Déconnexion
          </button>
        </li>
      </ul>
    </div>
  </div>
  <app-friends></app-friends>
  <app-add-friends></app-add-friends>
</nav>