<div *ngIf="userIsConnected" (click)="openList()"
    class="absolute cursor-pointer flex justify-center content-center select-none right-2 top-12 shadow p-1 rounded-md hover:scale-110 ease-in-out duration-200"
    style="background-color: rgba(128, 128, 128, 0.5); outline: none;">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white" class="w-6 h-6">
        <path fill-rule="evenodd"
            d="M2.625 6.75a1.125 1.125 0 1 1 2.25 0 1.125 1.125 0 0 1-2.25 0Zm4.875 0A.75.75 0 0 1 8.25 6h12a.75.75 0 0 1 0 1.5h-12a.75.75 0 0 1-.75-.75ZM2.625 12a1.125 1.125 0 1 1 2.25 0 1.125 1.125 0 0 1-2.25 0ZM7.5 12a.75.75 0 0 1 .75-.75h12a.75.75 0 0 1 0 1.5h-12A.75.75 0 0 1 7.5 12Zm-4.875 5.25a1.125 1.125 0 1 1 2.25 0 1.125 1.125 0 0 1-2.25 0Zm4.875 0a.75.75 0 0 1 .75-.75h12a.75.75 0 0 1 0 1.5h-12a.75.75 0 0 1-.75-.75Z"
            clip-rule="evenodd" stroke="white" stroke-width="1" />
    </svg>

</div>
<div *ngIf="showDiv"
    class="z-10 flex justify-center items-center fixed text-white bg-black bg-opacity-50 backdrop-blur-md"
    style="top: 50%; left: 50%; transform: translate(-50%, -50%); height: 100vh; width: 100vw;">

    <div
        class="mt-5 h-64 w-80 text-xl text-center bg-slate-900 rounded-md shadow-md relative flex flex-col items-center p-4">
        <button (click)="openList()"
            class="absolute mt-1 mr-1 top-1 right-1 p-2 rounded-full bg-slate-700 hover:bg-slate-800 transition-colors duration-200 ease-in-out">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
                <path fill-rule="evenodd"
                    d="M5.47 5.47a.75.75 0 0 1 1.06 0L12 10.94l5.47-5.47a.75.75 0 1 1 1.06 1.06L13.06 12l5.47 5.47a.75.75 0 1 1-1.06 1.06L12 13.06l-5.47 5.47a.75.75 0 0 1-1.06-1.06L10.94 12 5.47 6.53a.75.75 0 0 1 0-1.06Z"
                    clip-rule="evenodd" />
            </svg>
        </button>

        <h2 class="text-white text-2xl mb-4">Ajouter le film à la liste</h2>
        <ul class=" mr-3 list-none w-full overflow-y-scroll h-full">
            <li (click)="addItemToList(doc)" *ngFor="let doc of document"
                class="mr-4 hover:bg-slate-700 rounded cursor-pointer transition-colors duration-200 ease-in-out py-2">
                {{ doc }}
            </li>
        </ul>
    </div>
</div>