<app-header></app-header>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />

<!-- <div class="video-container w-full flex justify-center mt-5">
    <iframe class="rounded" width="1000px" height="500px" [src]="urlTrailer" title="YouTube video player"
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen>
    </iframe>
</div> -->

<div class="mt-5 w-full flex justify-center bg-slate-900">
    <div class="w-[1000px] flex">
        <div class="w-3/4 p-4">
            <img [src]="'https://image.tmdb.org/t/p/w500' + details.profile_path" alt="" srcset="" />
        </div>

        <div class=" p-4">
            <h2 class="text-white text-center mt-2">{{ details.name }}</h2>
            <p
                class="bg-gray-200 cursor-pointer text-gray-800 font-semibold p-2 rounded inline-flex items-center hover:scale-110 duration-100 ease-in-out">
                <i class="fas fa-star text-yellow-500 mr-2"></i>
                {{ details.popularity }}
            </p>
            <br />
            <p
                class="bg-gray-200 cursor-pointer text-gray-800 font-semibold p-2 rounded inline-flex items-center hover:scale-110 duration-100 ease-in-out">
                <i class="fas fa-male text-blue-500 mr-2"></i>
                {{ details.gender == 2 ? 'Homme' : details.gender == 1 ? 'Femme' : '' }}
            </p>
            <br />
            <p
                class="bg-gray-200 cursor-pointer text-gray-800 font-semibold p-2 rounded inline-flex items-center hover:scale-110 duration-100 ease-in-out">
                <i class="fas fa-film text-purple-500 mr-2"></i>
                {{ details.known_for_department }}
            </p>
            <br />

            <br>
            <div class="flex flex-col flex-grow w-full h-full overflow-auto">
                <h2 class="text-white text-center mt-2 mr-8 whitespace-nowrap">Connu pour :</h2>
                <div *ngFor="let person of popularPeoples">
                    <div *ngIf="+idDetails === person.id">
                        <ul class="flex" *ngIf="person.known_for && person.known_for.length > 0">
                            <li *ngFor="let film of person.known_for" class="mr-4">
                                <a [routerLink]="['/Details/Movie/' + film.id]">
                                    <img [src]="'https://image.tmdb.org/t/p/w185' + film.poster_path"
                                        alt="{{ film.title }} poster" class="!w-80 !h-80">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="mb-5 mt-5 text-center w-3/4 mx-auto">
    <h2 class="text-white text-center mt-2">Biographie</h2>
    <p class="text-white text-justify">
        {{ details.biography
        }} <a *ngIf="details.homepage" [href]="details.homepage" class="text-blue-500 underline" target="_blank">Link to
            homepage of
            {{details.name}}</a>
    </p>


</div>